
.tstm-head{
    color: white;
    font-size: 4em;
    font-family: fantasy;
    margin: 0 auto; /* Center the element horizontally */
    font-weight: bolder; /* Boldness level */
    position: relative;
    text-align: center; /* Center the text within the element */   
    padding-top: 50px;
}
.tstm-full{
    height: 700px;
    width: 1200px;
    background-color: aqua;
    margin-left: 350px;
}

/* section contact form */

.int-contact-full {
    height: 700px;
    width: 100%;
    position: relative; /* Ensure the container is relatively positioned */
}

.int-contact-blur {
    height: 300px;
    width: 1000px;
    background-color: var(--contactgreen);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: blur(180px);
}

.int-contact-box {
    position: absolute;
    height: 500px;
    width: 1000px;
    background-color: rgba(255, 255, 255, 0.112);
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Adjust to center */
    border-radius: 40px;
    display: flex;
    justify-content: space-between; /* Create space between text and form */
    padding: 40px;
}

.int-contact-head {
    color: white;
    font-size: 4em;
    font-weight: bolder;
    margin-bottom: 20px;
}

.int-contact-mail,
.int-contact-txt {
    color: white;
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 20px;
}

.int-contact-form {
    color: white;
    width: 40%; /* Adjust width of the form */
    display: flex;
    flex-direction: column;
}

.form-row {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between; /* Aligns the columns in a row */
}

.form-col {
    width: 48%; /* Adjust width for two columns */
}

.int-contact-form input,
.int-contact-form textarea {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 1em;
}

.int-contact-form input[type="submit"] {
    background-color: var(--contactgreen);
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px; /* Add margin to separate the submit button */
}

.int-contact-form input[type="submit"]:hover {
    background-color: darkorchid;
}
